* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 31.25vw;
    margin: auto;
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 40px 20px;
}

.info {
    width: 100%;
    height: auto;
}

.company-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 5px 0 20px 0;
}

.title {
    font-size: 0.9vw;
}

.info-box1 {
    width: 50%;
    font-size: 0.729vw;
    text-align: left;
}

.info-box2 {
    width: 50%;
    font-size: 0.729vw;
    text-align: right;
}

.customer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 5px 0 20px 0;
}

.list {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.729vw;
}

tr th {
    text-align: center;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d6e5f8;
}

.total {
    text-align: right;
    background-color: #d6e5f8;
}

.total-pay {
    background-color: #d6e5f8;
}

.empty {
    border: none;
}

.payment-info {
    width: 100%;
    margin: 10px 0px;
}

.payment-info p {
    font-size: 0.729vw;
    margin-top: 10px;
}

.number {
    text-align: right
}

.amount {
    text-align: center;
}

.noValue {
    color: red;
    font-style: italic;
}